<div style="border:5px solid white;" class="route">
  This is RoutePage.
  <ul>
    <li>
      <a routerLink="/component1" routerLinkActive="active" ariaCurrentWhenActive="page">Component1</a>
    </li>
    <li>
      <a routerLink="/component2" routerLinkActive="active" ariaCurrentWhenActive="page">Component2</a>
    </li>
    <li>
      <a routerLink="/component3" routerLinkActive="active" ariaCurrentWhenActive="page">Component3</a>
    </li>
    <li>
      <a routerLink="/component4" routerLinkActive="active" ariaCurrentWhenActive="page">Component4</a>
    </li>
    <li>
      <a routerLink="/component5" routerLinkActive="active" ariaCurrentWhenActive="page">Component5</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>